{
  "parser": "@babel/eslint-parser",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": [2, "prefer-single"]
  }
}
