:root {
  --nav-color: #dffd1b;
  --bg-deep: #a37762;
  --bg-light: #c2a89b;
  --bg-trans: #b8b4ac;
  --bg-morelight: #e6e1d7;
  --dark-brown: #b38f72;
  --black: #000000;
  --fonr: Oswald Medium;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

.menu-icon {
  width: 200px;
  height: 200px;
  border: 2px solid red;
}
.menu-line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Layout style */
header {
  background-color: var(--nav-color);
  padding: 0.4em 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.nav__list--mg-left {
  margin-left: 2em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.nav__list--primary {
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
  color: var(--black);
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__link--decoration-none:hover {
  text-decoration: none;
}

.nav__list--mg-right {
  margin-right: 2.5em;
  text-transform: capitalize;
}

.nav__item + .nav__item {
  margin-left: 3em;
}
.nav__item--img-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 1em;
}
.nav__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
}

.cart-text {
  font-size: 1.2rem;
  font-weight: 200;
}

/* Footer */
.footer {
  background-color: var(--bg-deep);
  display: flex;
  flex-wrap: wrap;
}

.footer__list {
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
  padding-bottom: 2em;
  flex-basis: 322px;
}

.list__one {
  flex-basis: 720px;
}
.list__four {
  padding-right: 5.5em;
}

.list__five {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  flex-basis: 720px;
}

.list__article {
  width: 80%;
  max-width: 850px;
  font-size: 1.25rem;
  line-height: 1.4;
  padding: 2em 2em 4.2em 2em;
}
.list__text {
  margin-bottom: 1em;
  font-size: 0.9rem;
  font-weight: 400;
}

.list__text + ul {
  list-style: none;
}

.cell {
  border: 1px solid black;
  padding: 1.5em;
  border-top: 0;
  border-right: 0;
}

.cell__item {
  padding: 4em;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
.cell__item:hover {
  background-color: #ffff;
}

.footer__last {
  flex-grow: 1;
  padding: 1.5em;
  padding-top: 3em;
}

.flex-page,
.email-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.signup-text {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2rem;
}
.email {
  width: 100%;
  padding: 2em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
}
.email:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.email:focus {
  background-color: transparent;
}

.email-label {
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: -20px;
}
.subscribe {
  display: flex;
  align-items: end;
  gap: 10px;
}
input[type='checkbox'] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgba(40, 40, 40, 0.2);
  color: black;
  position: relative;
  left: -5px;
  top: -5px;
}

.checkbox-text {
  font-size: 1.2rem;
}
.subscribe:checked {
  background-color: transparent;
}

.submit-btn {
  background-color: var(--black);
  color: #ffff;
  padding: 1em 0;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ffff;
  color: #000;
}

.copywright {
  margin-top: 2em;
  font-size: 1.2rem;
}
/*media queries*/
/* @media screen and (max-width: 1200px) {
  .flex {
    flex-direction: column;
  }
} */
