html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}
:root {
  --nav-color: #dffd1b;
  --bg-deep: #a37762;
  --bg-light: #c2a89b;
  --bg-trans: rgb(55, 70, 70);
  --bg-morelight: #e6e1d7;
  --dark-brown: #322c27;
  --black: #000000;
  --fonr: Oswald Medium;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

/*Layout section*/
.flex {
  background-color: var(--bg-deep);
  display: flex;
  margin-top: -2.5em;
  height: 100vh;
  position: relative;
}
.flex__left {
  padding: 80px 0px 0px 50px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.flex__text {
  text-transform: uppercase;
  font-family: fantasy, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
  font-weight: 200;
  line-height: 1.6;
  margin: 0 auto;
  letter-spacing: 2px;
}

.flex__text--small {
  font-size: 2rem;
  font-weight: 700;
}

.flex__btn {
  background-color: var(--black);
  color: #ffff;
  width: 22%;
  padding: 20px 0;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 5em;
  position: absolute;
  top: 50%;
}
.flex__btn:hover {
  background-color: #ffff;
  color: initial;
  transition: ease-out 5ms;
}
.container-img {
  width: 60%;
  mix-blend-mode: hard-light;
  margin-left: -100px;
}
.flex__img {
  aspect-ratio: 16 / 11;
  height: 100vh;
}

/*Middle page*/
.middle {
  display: flex;
  border: 1px solid black;
  background-color: #ffff;
}
.middle__page {
  width: 50%;
  padding: 1.5em;
  border-right: 1px solid black;
}
.middle__box {
  background: linear-gradient(to right, #a37762, #322c27);
  border-radius: 20px;
  position: relative;
}
.middle__text {
  position: absolute;
  top: 5%;
  left: 3%;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffff;
}

.middle__btn:hover {
  background-color: #ffff;
}
.middle__btn {
  background-color: var(--nav-color);
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 92%;
  margin: 0 1em;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
}
.card__img {
  width: 100%;
  height: 800px;
  max-height: 800px;
  border-radius: 20px;
}

.card__list::-webkit-scrollbar {
  display: none;
}
.card__list {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px;
  max-height: 900px;
  padding: 1em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.grid-img {
  background: linear-gradient(to right, #a37762, #322c27);
  border-radius: 10px;
  aspect-ratio: 2 / 1.9;
}

.card__grid {
  list-style-type: none;
}
.card__grid--list + .card__grid--list {
  margin-top: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*Shop & Category*/
.category {
  margin-top: 10em;
}
.category__text {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  word-spacing: 1px;
  animation-timeline: view(block);
  animation-range: contain 20% contain;
  animation-name: clip;
  animation-fill-mode: both;
  animation-duration: 10s;
  transition: 5s ease-in-out;
}

@keyframes clip {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0);
  }
}

.category__list {
  display: flex;
  list-style-type: none;
}
.category__card {
  width: 40%;
  min-height: fit-content;
  padding: 0.5em;
  border: 1px solid black;
}

.flip-trans {
  animation-timeline: view(block);
  animation-range: cover;
  animation-name: trans;
  animation-fill-mode: both;
  transition: 2ms ease-in-out;
}
@keyframes trans {
  from {
    /* transform: rotateX(90deg); */
  }
  to {
    /* transform: rotateY(360deg); */
  }
}

.category__card + .category__card {
  border-left: none;
}
.category__card:hover {
  cursor: pointer;
  color: #ffff;
  background-color: var(--black);
}

.card__temp {
  margin-top: 2em;
}
.card__flip {
  min-height: 600px;
  border-radius: 30px;
  background-color: var(--bg-deep);
}

.card__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}
.card__sub {
  text-transform: lowercase;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 1em;
}

/*shop*/
.shop {
  background-color: var(--bg-deep);
  padding: 2em 1em;
  margin-bottom: 10em;
}
.shop__deep {
  position: relative;
  background-color: rgb(55, 70, 70);
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
.shop__text--span {
  position: absolute;
  width: 100%;
  bottom: 20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.shop__text--1 {
  font-size: calc(15rem - 50px);
  text-transform: uppercase;
  letter-spacing: -7px;
  line-height: 80%;
  animation-timeline: view(block);
  animation-range: contain 20% contain;
  animation-name: clip;
  animation-fill-mode: both;
  animation-duration: 10s;
  transition: 5s ease-in-out;
}

.shop__text--2 {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 135px;
}
.shop__btn {
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 5%;
  padding: 0.5em 5em;
  border-radius: 50px;
  background-color: var(--nav-color);
  font-size: 3rem;
  text-transform: capitalize;
  cursor: pointer;
}
.shop__btn:hover {
  background-color: #ffff;
}

.social__flex {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2.5em 0;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  overflow: scroll;
}
.social__item {
  width: 20%;
  border-radius: 40px;
  flex-shrink: 0;
  background-color: var(--bg-deep);
  list-style: none;
  position: relative;
}

.social__img {
  aspect-ratio: 2 / 1.9;
}

.social__flex::-webkit-scrollbar {
  display: none;
}
.social__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
}

.bg-absolute {
  position: absolute;
  top: 0;
  padding: 5em;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: ease-in-out 1s;
  display: none;
  color: #fff;
  text-align: center;
}

.social__item:hover .bg-absolute {
  display: block;
}

/*Media Query*/
@media (max-width: 950px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
  }
  .flex__left {
    width: 100%;
  }

  .flex__img {
    margin-top: -75px;
  }
  .flex__btn {
    width: 85%;
    top: 60%;
    z-index: 1;
  }
  .middle {
    display: block;
    border: 1px solid black;
    background-color: #ffff;
  }
  .middle__page {
    border-bottom: 1px solid black;
  }
  .middle__page,
  .card__list {
    width: 100%;
    padding: 1.5em;
  }

  .category__list {
    display: block;
  }
  .category__card {
    width: 100%;
  }

  .card__flip {
    min-height: 900px;
  }

  .shop {
    min-height: 800px;
  }
  .shop__deep {
    min-height: inherit;
  }
  .shop__text--span {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .shop__text--1 {
    font-size: calc(15rem - 100px);
  }

  .shop__text--2 {
    font-size: calc(2rem + 20px);
    text-align: center;
    width: fit-content;
  }

  .social__item {
    width: 50%;
  }
}
