*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --nav-color: #dffd1b;
  --bg-deep: #a37762;
  --bg-light: #c2a89b;
  --bg-trans: #b8b4ac;
  --bg-morelight: #e6e1d7;
  --dark-brown: #322c27;
  --black: #000000;
  --fonr: Oswald Medium;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid greenyellow;
  padding: 2em;
}
.nav {
  background-color: var(--nav-color);
  padding: 1em 0.5em;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
