*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --nav-color: #dffd1b;
  --bg-deep: #a37762;
  --bg-light: #c2a89b;
  --bg-trans: #b8b4ac;
  --bg-morelight: #e6e1d7;
  --dark-brown: #322c27;
  --black: #000000;
  --fonr: Oswald Medium;
}

html,
body {
  margin: 0;
  padding: 0;
}
